body {
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #D0D0D0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 10px 0 10px 15px;
  text-decoration: none;
}

li a.activ {
  background-color: #500000;
  color: white;
}


li a:hover:not(.activ) {
  background-color: #777;
  color: white;
}

.box {
  float: left;
}
.home1 {
  height: 300px;
  margin-left: 27%;
}

.home2 {
  height: 50%;
  margin-left: 47%;
}

.sketch1, .beschreibung, .sketch3{
  margin-left: 27%;
}

.sketch2 {
  margin-top: 4%;
  margin-left: 5%;
}

.verteilungsschluessel {
  width: 98%;
  margin-top: 5%;
}

#myPic {
  width: 400px;
  margin-left: 50px;
}

.babpic {
  margin: 10px;
  width: 50%;
  padding-left: 24%
}

.home2pic {
  margin-left: 10%;
  width: 90%;
}

.kostenartenplan {
  margin-top: 0;
  width: 600px;
  margin-left: 17%;
}

.headkap {
  margin: 10px;
}

.nebenrechnungpic {
  margin-top: 10%;
  margin-left: 29%;
}

.maschstpic {
  margin-top: 10%;
  margin-left: 35%;
}

.tabelle_1 {
  text-align: center;
}

.nebenrechnungpic_2 {
  margin-top: 7%;
  margin-left: 5%;
}

.maschstpic_2 {
  margin-top: 7%;
  margin-left: 5%;
}
